body {
    background-color: #0b1d26;
    /*background-image: linear-gradient(to bottom, rgba(196, 196, 196, 0) 7%, rgba(53, 65, 71, 1) 40%), url("trinidad-window-view.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
  background-position: center bottom, center top; */
    /* background-image: url("image.png"); */
    background-position: -345px -262px;
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: "Montserrat", "Raleway", "Arial", "Lucida-Grande", sans-serif;
    line-height: 1.778;
    font-weight: 600;
    font-size: 1.125rem;
    margin: 0;
}

/* body > * {
    mix-blend-mode: difference;
} */

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
a {
    color: #fbd784;
}

h1,
h2,
h3 {
    font-family: "Playfair Display", "Times New Roman", "Palatino", serif;
    font-style: normal;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

h1 {
    line-height: 1.136;
    font-size: clamp(2.8rem, 1.3182rem + 7.4091vw, 6.875rem);
}

h1 span {
    display: inline-block;
}

h2,
h3 {
    line-height: 1.33;
}

h2 {
    font-size: clamp(2.1rem, 1.4091rem + 3.4545vw, 4rem);
}

h3 {
    font-size: clamp(1.4rem, 1.0455rem + 1.7727vw, 2.375rem);
}

p,
ul {
    font-style: normal;
    margin-top: 0;
    margin-bottom: 1rem;
    max-width: 36rem;
}

.intro {
    max-width: 26.25rem;
}

.overheading {
    color: #fbd784;
    font-size: clamp(0.875rem, 0.7841rem + 0.4545vw, 1.125rem);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.333em;
    border-left: 2px solid #fbd784;
    padding-left: 1rem;
    margin-top: 3rem;
    margin-bottom: 1.25rem;
    line-height: 1.778;
}

@media only screen and (min-width: 560px) {
    .overheading {
        display: flex;
        align-items: center;
        border-left: 0;
        padding-left: 0;
    }
}

@media only screen and (min-width: 560px) {
    .overheading::before {
        content: "";
        display: block;
        width: 4.5rem;
        height: 2px;
        background-color: #fbd784;
        margin-right: 2rem;
    }
}

.overheading span {
    display: inline-block;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

header,
main {
    max-width: 114rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
/* section:first-child {
    background-image: url("html.svg");
    background-repeat: no-repeat;
    background-size: contain;
} */

.project {
    margin-top: 3rem;
}

.project-image {
    margin-bottom: 0.75rem;
}

@media only screen and (min-width: 768px) {
    .project-image {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 768px) {
    .project-details {
        display: flex;
        max-width: 65rem;
        gap: 3rem;
        align-items: flex-start;
    }
}

.project-details-even {
    flex-direction: row-reverse;
}

.knowledge {
    margin-bottom: 3rem;
}

.knowledge section {
    flex-basis: 50%;
    margin-top: 1.5rem;
}

@media only screen and (min-width: 768px) {
    .knowledge {
        display: flex;
        margin-top: 1rem;
    }
    .courses {
        margin-left: 1.5rem;
    }
}

li {
    color: #ffffff;
}

.footer {
    background: linear-gradient(#0b1d26, #354147);
    padding-bottom: 3rem;
}

.footer-inside {
    max-width: 114rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media only screen and (min-width: 1200px) {
    .column {
        width: 65.789%;
        margin-left: auto;
        margin-right: auto;
    }
}
